<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  	
    <div class="container">
      <!-- <%= link_to 'Radius Health', home_path, id: "logo" %> -->
      <%= link_to image_tag("Logo1.png", alt: "Rails", style: "height: 100px; width: 100px;"), home_path %>
        <ul class="nav pull-right">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
    </div>
  </div>
</header>